<h1 id="tableLabel">Coffee Tracker</h1>

<form id="coffeeForm" (ngSubmit)="addRecord()" *ngIf="showAddForm">
  <label for="date">Date:</label>
  <input type="date" id="date" name="date" [(ngModel)]="date" required>
  <label for="description">Description:</label>
  <input type="text" id="description" name="description" [(ngModel)]="description" required>
  <label for="ounces">Ounces:</label>
  <input type="number" id="ounces" name="ounces" [(ngModel)]="ounces" required>
  <label for="notes">Notes:</label>
  <input type="text" id="notes" name="notes" [(ngModel)]="notes">
  <label for="rating">Rating:</label>
  <input type="number" id="rating" name="rating" [(ngModel)]="rating" required>
  <button type="submit">Add Coffee Record</button>
</form>

<form id="editCoffeForm" (ngSubmit)="editRecord()" *ngIf="showEditForm">
  <label for="date">Date:</label>
  <input type="date" id="date" name="date" [ngModel]="date | date:'yyyy-MM-dd'" (ngModelChange)="date = $event" required>
  <label for="description">Description:</label>
  <input type="text" id="description" name="description" [(ngModel)]="description" required>
  <label for="ounces">Ounces:</label>
  <input type="number" id="ounces" name="ounces" [(ngModel)]="ounces" required>
  <label for="notes">Notes:</label>
  <input type="text" id="notes" name="notes" [(ngModel)]="notes">
  <label for="rating">Rating:</label>
  <input type="number" id="rating" name="rating" [(ngModel)]="rating" required>
  <div class="button-container">
    <button type="submit">Save Coffee Record</button>
    <button (click)="cancelEdit()">Cancel</button>
  </div>
</form>

<table *ngIf="coffeeRecords.length">
  <thead>
    <tr>
      <th class="sortable" (click)="sortRecords('date')">Date <span *ngIf="currentSortProperty === 'date'">{{ sortDescending ? '▼' : '▲' }}</span></th>
      <th class="sortable" (click)="sortRecords('description')">Description <span *ngIf="currentSortProperty === 'description'">{{ sortDescending ? '▼' : '▲' }}</span></th>
      <th class="sortable" (click)="sortRecords('ounces')">Ounces <span *ngIf="currentSortProperty === 'ounces'">{{ sortDescending ? '▼' : '▲' }}</span></th>
      <th class="sortable" (click)="sortRecords('notes')">Notes <span *ngIf="currentSortProperty === 'notes'">{{ sortDescending ? '▼' : '▲' }}</span></th>
      <th class="sortable" (click)="sortRecords('rating')">Rating <span *ngIf="currentSortProperty === 'rating'">{{ sortDescending ? '▼' : '▲' }}</span></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let coffeeRecord of coffeeRecords">
      <td>{{ coffeeRecord.date | date }}</td>
      <td>{{ coffeeRecord.description }}</td>
      <td>{{ coffeeRecord.ounces }}</td>
      <td>{{ coffeeRecord.notes }}</td>
      <td>{{ coffeeRecord.rating }}</td>
      <td>
        <button (click)="deleteRecord(coffeeRecord)">Delete</button>
        <button (click)="setupEditForm(coffeeRecord)">Edit</button>
      </td>
    </tr>
  </tbody>
</table>
